name: Daffa CI (MySQL) # <-- NAMA INI SUDAH DIUBAH

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.0
        env:
          MYSQL_DATABASE: db_tracking_pengeluaran
          MYSQL_ROOT_PASSWORD: root
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping" 
          --health-interval=10s 
          --health-timeout=5s 
          --health-retries=10

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: '8.2'
        extensions: pdo_mysql, bcmath
        coverage: none
    
    - name: Install dependencies
      run: composer install --no-progress --prefer-dist --optimize-autoloader

    - name: Prepare environment
      run: |
        cp .env.example .env
        php artisan key:generate

    - name: Run Migrations
      run: php artisan migrate --force
      env:
        DB_CONNECTION: mysql
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_DATABASE: db_tracking_pengeluaran
        DB_USERNAME: root
        DB_PASSWORD: root 

    - name: Run Tests
      run: php artisan test --stop-on-failure
      env:
        DB_CONNECTION: mysql
        DB_HOST: 127.0.0.1
        DB_PORT: 3306
        DB_DATABASE: db_tracking_pengeluaran
        DB_USERNAME: root
        DB_PASSWORD: root